body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

ol#the-list li {
    font-weight: bold;
    opacity: 0.5;
}

ol#the-list li:first-child {
    font-weight: bold;
    opacity: 1;
}
